.loginFormContainer {
  width: 100%;
  margin: 0 auto;
  padding-top: 25px;

.resumeLayout {
  border-radius: 2px;
  background-color: rgba(153, 153, 153, 0.05);
  border: dotted 2px #d6d7e0;
  .resumeContent{
    padding: 10px;
  }
}
.opening_checkbox {
  font-size: 13.5px;
  font-weight: normal;
}
.loginFormHeader {
  padding: 0 15px;
  text-align: center;

  div {
    margin-bottom: 5px;
  }
  .topic {
    font-size: 22px;
    font-weight: bold;
  }

  .steps {
    font-size : 15px;
    font-weight: bold;
  }
}
.loginOptionsButton {
  width: 185px;
  padding: 5px 15px;
  box-shadow: none;
  margin-bottom: 10px;
  font-size:13px;
}
.loginForm {
  padding: 5px 0 0 0px;

  .tag {
    margin-bottom:10px;

    label {
      width:135px;
    }
    .resumeLayout {
      border-radius: 2px;
      background-color: rgba(153, 153, 153, 0.05);
      border: dotted 2px #d6d7e0;
      .resumeContent{
        padding: 10px;
      }
    }
    input {
      width: 100%;
      padding: 5px 0px;
    }
  }
}

  .submitButton {
    margin: 15px 0;
    background-color: #e74c3c;
    border: solid 1px #f15025;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    height: 48px;
    width: 100%;
  }
}