@import '~font-awesome/scss/font-awesome.scss';
@import './nprogress.scss';
@import './variables.scss';

/**
 * Override Bootstrap styles that you can't modify via variables here.
 *
 */
.navbar > ul {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.05);
}
.navbar-brand {
  position: relative;
  height: 75px;
  // margin: 0 20px !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #000;
}

.nav > li.active {
  border-left: 0px;
}

.nav>li>a, .nav.navbar-right>li>a {
  color: #000 !important;
  font-family: Helvetica;
  font-size: 12px;
}

.nav>li.active>a {
  color: #000;
  border: none !important;
}

.navbar-header {
  a.navbar-brand {
    padding-left: 5px;
  }
}

.nav > li > a, .nav.navbar-right > li > a {
  color: #000 !important;
  font-family: Helvetica;
  font-size: 12px; 
}

.nav > li {
  padding-top: 20px;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.05);
  height: 75px;
}

#wrapper {
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  overflow: hidden;
}

.wrapper {
  padding: 0 20px;
}

.wrapper-content {
  padding: 20px 10px 40px;
}

// .rc-checkbox {
//   &.rc-checkbox-disabled {
//     &:hover .rc-checkbox-inner, .rc-checkbox-input:focus + .rc-checkbox-inner {
//       border-color: $lit-border-clr !important;
//     }
//   }
//   &:hover .rc-checkbox-inner, .rc-checkbox-input:focus + .rc-checkbox-inner {
//     border-color: $primary-theme-color !important;
//   }
// }

// .rc-checkbox-checked .rc-checkbox-inner {
//   border-color: $primary-theme-color !important;
//   background-color: $primary-theme-color !important;
// }

.rc-checkbox {
  padding: 0 10px 0 0;
}